@tailwind base;
@tailwind components;
@tailwind utilities;

.gm-style .gm-style-iw-c {
  border-radius: 5px !important;
  padding: 0!important;
  left: 3.5rem;
  top:10rem;
}

.gm-style .gm-style-iw-tc{
  display: none;
}

.gm-style .gm-style-iw-d{
  padding: 0 !important;
  overflow: hidden !important;
}

.gm-style .gm-style-iw button:last-child{
  display: none!important;
}